sudo: false
cache: bundler
language: ruby
rvm:
  - 2.5
  - 2.4
  - 2.3
  - 2.2
matrix:
  include:
    - rvm: 2.4
      env: JEKYLL_VERSION=3.5
env:
  matrix:
    - JEKYLL_VERSION=3.5
branches:
  only:
    - master
script: script/cibuild
notifications:
  irc:
    on_success: change
    on_failure: change
    channels:
    - irc.freenode.org#jekyll
    template:
    - '%{repository}#%{build_number} %{message} %{build_url}'
  email:
    on_success: never
    on_failure: change
