version: "{build}"

clone_depth: 10

branches:
  only:
    - master

build: off

install:
  - SET PATH=C:\Ruby%RUBY_FOLDER_VER%-x64\bin;%PATH%
  - bundle install --retry 5 --jobs=%NUMBER_OF_PROCESSORS% --clean --path vendor\bundle

environment:
  matrix:
    - RUBY_FOLDER_VER: "26"
    - RUBY_FOLDER_VER: "25"

test_script:
  - ruby --version
  - gem --version
  - bundler --version
  - bash ./script/test

cache:
  # If one of the files after the right arrow changes, cache will be skipped
  - 'vendor\bundle -> appveyor.yml,Gemfile,jekyll-sass-converter.gemspec'
