// This is a partial.
// It lies in <source>/_sass, just waiting to be imported.
// It does not contain the YAML front matter and has no corresponding output file in the built site.

code, pre {
  font-family: Consolas, "Consolas for Powerline", "Courier New", Courier, monospace;
  color: green;
}
